services:
  - type: web
    name: ai-quiz-generator-backend
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: quiz-database
          property: postgresql://neondb_owner:npg_Vjy1K0faDdvr@ep-muddy-feather-a4urgck5-pooler.us-east-1.aws.neon.tech/AiQuiz?sslmode=require&channel_binding=require
      - key: GEMINI_API_KEY
        value: AIzaSyC_ydcZWhV0Z4S8iSw2qAiHTP_cRnzLBGc